# Database
DATABASE_URL=sqlite:///./local.db

# App
APP_ENV=development
LOG_LEVEL=info

# Integraciones
VENDOR_SHARED_API_KEY=ld_vendor_shared_live_99f8a2130e4c7b
VENDOR_SHARED_SECRET=sec_ld_s3_shared_vault_token_2024
NOTARY_PARTNER_API_URL=https://api.valida-notaria-externa.cl/v1/certify
NOTARY_PARTNER_TIMEOUT_SECONDS=30
